html {
    background-color: #232427;
    color: white;
    font-family:'Courier New';
}
h2 {
    font-size: 30pt;
    font-style: bold;
    text-align: center;
}
p {
    font-size: 14pt;
}
.sig {
    position: absolute;
    bottom:0;
    right:0;    
    padding-right: 10px;
}
span {
    font-size: 16pt;
}
.list {
    text-align: center;
    position: relative;
    top: 75%;
}
.startBoard {
    border: rgb(163, 163, 163) 10px solid;
    border-radius: 45px;
    background-color: #18191b;

    position: absolute;
    height: 70%;
    align-self: center;
    justify-items: center;

    top: 10%;
    left: 20%;
    right: 20%;

    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.playBoard {
    border: rgb(163, 163, 163) 10px solid;
    /* border-radius: 45px; */
    background-color: #18191b;

    display: grid;
    grid-template-columns: [col0] 20% [col1] 65% [col2] 15% [col3];
    grid-template-rows: [row0] 75% [row1] 25% [row2];

    position: absolute;
    height: 80%;
    width: 75%;
    align-self: center;

    top: 10%;
    left: 12.5%;

    /* padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px; */
}
.listContainer {
    padding-top: 5px;
}
.buttonContainer {
    text-align: center;
    padding-top: 10px;
}
.returnContainer {
    text-align: center;
}
.startButton {
    background-color: #25272c;
    border: 4px solid #25272c;
    border-radius: 12px;

    font-size: 28pt;
    font-family: 'Courier New';
    font-weight: bold;

    padding: 8px 48px;
    color: whitesmoke;

    transition-duration: 0.4s;
}
.startButton:hover {
    background-color: #18191b;
    color: white;
}
.buttonsContainer {
    text-align: right;
    padding-top: 15px;
}
.returnButton {
    background-color: #18191b;
    border: 4px solid #18191b;
    border-radius: 12px;

    font-size: 20pt;
    font-family: 'Courier New';
    font-weight: bold;

    padding: 8px 24px;
    color: whitesmoke;

    transition-duration: 0.4s;
}
.returnButton:hover {
    background-color: #25272c;
    color: white;
}
.menuButton {
    background-color: #18191b;
    border: 4px solid #18191b;
    border-radius: 12px;

    font-size: 20pt;
    font-family: 'Courier New';
    font-weight: bold;

    padding: 8px 24px;
    color: whitesmoke;
    
    transition-duration: 0.4s;
}
.menuButton:hover {
    background-color: #25272c;
    color: white;
}
.randomizeButton {
    background-color: #18191b;
    border: 4px solid #18191b;
    border-radius: 12px;

    font-size: 20pt;
    font-family: 'Courier New';
    font-weight: bold;

    padding: 8px 24px;
    color: whitesmoke;
    
    transition-duration: 0.4s;
}
.randomizeButton:hover {
    background-color: #25272c;
    color: white;
}

/* PLAY SCREEN */
.playerInv {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;

    border-radius: 2px;
    /* border: 2px outset white; */

    text-align: center;
    /* background-color: wheat; */

    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.partySlot img{
    max-width: 80%;
    max-height: 80%;
}
#invText {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 20px;
    font-weight: bold;
    font-size: 18pt;
}
.displayBox {
    background-color: rgb(75, 75, 75);
    background-image: url("assets/bg.png");
    background-size: cover;

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;

    display: grid;
    grid-template-columns: 20% 35% 5% 35% 10%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
.yourPokemon {
    /* background-color: #232427; */
    /* opacity: 50%; */

    grid-column: 2/3;
    grid-row: 3/6;
}
.yourPokemon img {
    max-width: 100%;
    max-height: 100%;
}
.enemyPokemon {
    grid-column: 4/5;
    grid-row: 1/4;
}
.enemyPokemon img {
    max-width: 100%;
    max-height: 100%;
}
.enemyInfo {
    /* background-color: aquamarine; */
    text-align: center;

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;

    display: grid;

    grid-template-rows: 40% 1fr 1fr;
}
.enemyIcon img{
    background-color: azure;

    max-width: 100%;
    max-height: 100%;
}
#enemyText {
    text-align: left;
}
.textBox {
    background-color: rgb(29, 29, 29);

    text-align: left;

    border-radius: 2px;
    border: 2px outset rgb(163, 163, 163);

    grid-row-start:2;
    grid-row-end:3;
    grid-column-start: 2;
    grid-column-end: 4;
}
.txt {
    padding-top: 10px;
    padding-left: 10px;
}